@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto',sans-serif;
}
.name{
    font-size: large;
    padding:15p
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding:15px;
    background-color: #1f2937;
}

.main {
    color: #f9faf8;
    height:100%;
}

.nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.main-content{
    display: flex;
    align-items:center;
    justify-content:center;
    height:300px;
    width:auto;
    padding:10px;
    background-color: #1f2937;
}

img{
    display:block;
    height:50px;
    width:auto;
}